<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Recovery Tracker{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- Chart.js  -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!--chart code -->
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
